doctype html
head
  meta(charset='UTF-8')
  title Cookies and Authentication
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css')
.navbar.navbar-light.bg-dark
  .nav-items.ms-2
    img(src='/img/logo.png', style='width:200px')
    a.fw-bolder.fs-5.text-decoration-none.ms-3.text-light(href='/') Home
    a.fw-bolder.fs-5.text-decoration-none.ms-3.text-light(href='/users') Users
    a.fw-bolder.fs-5.text-decoration-none.ms-3.text-light(href='/contact') Contact
block content    