form(action="/users/create", method="post") 
    label Nhập tên: 
    input(type="text" name="name")
    span &emsp; 
    label Nhập tuổi: 
    input(type="text" name="age")
    span &emsp; 
    input(type="submit")            