doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet', href='./bootstrap.min.css')
  link(rel='stylesheet', href='./font/themify-icons.css')
  link(rel='stylesheet', href='./main.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')
header
  .header-top.bg-dark.py-2
    .container
      .row.justify-content-between
        .col-4
          a.header-top__phone.text-decoration-none(href='')
            | 0327910404
        .col-8.d-flex.justify-content-end
          .header-top__location
            a.text-decoration-none(href='')
              | B&agrave; R&#x1ECB;a V&utilde;ng T&agrave;u, Vi&#x1EC7;t Nam
            p
              | S&#x1ED1; 02, L&ocirc; L5, &dstrok;&#x1B0;&#x1EDD;ng Ph&#x1EA1;m V&abreve;n &Dstrok;&#x1ED3;ng, ph&#x1B0;&#x1EDD;ng 10, th&agrave;nh ph&#x1ED1; V&utilde;ng T&agrave;u, t&#x1EC9;nh B&agrave; R&#x1ECB;a V&utilde;ng T&agrave;u, Vi&#x1EC7;t Nam.
  // Navbar 1
  // As a link
  nav.navbar.navbar-expand-md.navbar-light
    .container
      a.navbar-brand(href='#')
        img(src='./img/logo.png', style='width:210px; ')
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-expanded='false')
        span.navbar-toggler-icon
      form.input-group.d-none.d-lg-flex.mx-4
        input.form-control.me-2(type='search', placeholder='Search', aria-label='Search')
      ul.d-none.d-lg-flex.mx-4.navbar-nav.ms-4.mb-2.mb-lg-0
        li.nav-item
          a.nav-link(href='')
            | VN
        li.nav-item
          a.nav-link(href='')
            | EN
  // As a heading
  nav.navbar.navbar-expand-md.navbar-light
    .container
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item.me-lg-3
            a.nav-link(href='#') Home
          li.nav-item.dropdown.me-lg-3
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
              | D&#x1ECB;ch v&#x1EE5;
            ul.dropdown-menu(aria-labelledby='navbarDropdown')
              li
                a.dropdown-item(href='#') D&#x1ECB;ch v&#x1EE5; 1
              li
                a.dropdown-item(href='#') D&#x1ECB;ch v&#x1EE5; 2
              li
                a.dropdown-item(href='#') D&#x1ECB;ch v&#x1EE5; 3
          li.nav-item.me-lg-3
            a.nav-link(href='#') Thi&#x1EBF;t b&#x1ECB;
          li.nav-item.me-lg-3
            a.nav-link(href='#') Tin t&#x1EE9;c
          li.nav-item.me-lg-3
            a.nav-link(href='#') Gi&#x1EDB;i thi&#x1EC7;u
          li.nav-item.me-lg-3
            a.nav-link(href='#') Li&ecirc;n h&#x1EC7;
        form.d-lg-none
          input.form-control.me-2(type='search', placeholder='Search', aria-label='Search')
section
  #carousel.carousel.slide(data-bs-ride='carousel')
    .carousel-indicators
      button.active(type='button', data-bs-target='#carouselExampleDark', data-bs-slide-to='0', aria-current='true', aria-label='Slide 1')
      button(type='button', data-bs-target='#carouselExampleDark', data-bs-slide-to='1', aria-label='Slide 2')
      button(type='button', data-bs-target='#carouselExampleDark', data-bs-slide-to='2', aria-label='Slide 3')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100.img-slide(src='./img/flyer1.jpg', alt='...')
        .carousel-caption.text-shadow
          h5 L&#x1EAF;p &dstrok;&#x1EB7;t thi&#x1EBF;t b&#x1ECB;
      .carousel-item.text-shadow
        img.d-block.w-100.img-slide(src='./img/flyer4.jpg', alt='...')
        .carousel-caption
          h5 Kh&#x1EA3;o s&aacute;t ngo&agrave;i kh&#x1A1;i
      .carousel-item.text-shadow
        img.d-block.w-100.img-slide(src='./img/flyer6.jpg', alt='...')
        .carousel-caption
          h5 K&#x1EF9; thu&#x1EAD;t &dstrok;&#x1ECB;a ch&#x1EA5;t v&agrave; gi&aacute;m s&aacute;t
    a.carousel-control-prev(role='button', data-bs-target='#carousel', data-bs-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.visually-hidden Previous
    a.carousel-control-next(role='button', data-bs-target='#carousel', data-bs-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.visually-hidden Next
section
  .container
    .row.justify-content-center.m-3
      .col-9.col-md-3.bg-warning.p-3.p-sm-2.rounded-2.fw-bold.text-center
        | Chi&#x1EBF;n l&#x1B0;&#x1EE3;c v&agrave; gi&aacute; tr&#x1ECB;
    .d-flex
      .d-none.d-lg-block
        .trategy_img
          img(src='./img/destop.png', alt='')
          p
            | SEALINK POS JSC l&agrave; n&#x1A1;i h&#x1ED9;i t&#x1EE5; nh&#x1EEF;ng
            | nh&acirc;n vi&ecirc;n gi&agrave;u kinh nghi&#x1EC7;m v&agrave; tr&iacute; tu&#x1EC7; k&#x1EBF;t
            | h&#x1EE3;p v&#x1EDB;i s&#x1EE9;c m&#x1EA1;nh v&agrave; s&#x1EF1; nhi&#x1EC7;t t&igrave;nh c&#x1EE7;a tu&#x1ED5;i
            | tr&#x1EBB; t&#x1EA1;o n&ecirc;n th&agrave;nh c&ocirc;ng. Ch&uacute;ng t&ocirc;i tin r&#x1EB1;ng
            | s&#x1ED1;ng v&agrave; l&agrave;m vi&#x1EC7;c trong ni&#x1EC1;m tin theo c&aacute;c gi&aacute;
            | tr&#x1ECB; c&#x1EE7;a s&aacute;ng t&#x1EA1;o truy&#x1EC1;n th&#x1ED1;ng l&agrave; s&#x1EF1; k&#x1EBF;t tinh
            | c&#x1EE7;a n&#x1EC1;n t&#x1EA3;ng v&itilde;nh c&#x1EED;u. T&#x1EA1;i c&ocirc;ng ty c&#x1ED5; ph&#x1EA7;n
            | &dstrok;&#x1ECB;nh v&#x1ECB; SEALINK... JSC, v&abreve;n h&oacute;a v&agrave; gi&aacute; tr&#x1ECB;
            | c&#x1ED1;t l&otilde;i r&#x1EA5;t quan tr&#x1ECD;ng &dstrok;&#x1ED1;i v&#x1EDB;i s&#x1EF1; th&agrave;nh c&ocirc;ng
            | c&#x1EE7;a doanh nghi&#x1EC7;p c&#x1EE7;a b&#x1EA1;n.
      .container.ms-lg-4
        .row.fw-bold.text-warning
          | GI&Aacute; TR&#x1ECA; CON NG&#x1AF;&#x1EDC;I
        .row.my-3.p-2.border.border-warning
          | T&agrave;i s&#x1EA3;n c&#x1EE7;a Sealink l&agrave; t&#x1EAD;p th&#x1EC3; c&#x1EE7;a nh&acirc;n vi&ecirc;n, l&agrave; t&agrave;i s&#x1EA3;n
          | l&#x1EDB;n nh&#x1EA5;t ch&uacute;ng ta c&oacute;. T&#x1EA1;i Sealink, nh&acirc;n vi&ecirc;n &dstrok;&#x1B0;&#x1EE3;c trao
          | quy&#x1EC1;n &dstrok;&#x1EC3; t&#x1ED1;i &dstrok;a h&oacute;a kh&#x1EA3; n&abreve;ng c&#x1EE7;a h&#x1ECD;. C&aacute;c c&aacute; nh&acirc;n lu&ocirc;n &dstrok;&#x1EB7;t
          | l&#x1EE3;i &iacute;ch t&#x1EAD;p th&#x1EC3; l&ecirc;n cao nh&#x1EA5;t, lu&ocirc;n l&agrave;m vi&#x1EC7;c, c&#x1ED9;ng t&aacute;c theo
          | nh&oacute;m, l&agrave;m vi&#x1EC7;c c&ugrave;ng nhau v&igrave; nh&#x1EEF;ng m&#x1EE5;c ti&ecirc;u t&#x1ED1;t nh&#x1EA5;t
        .row.fw-bold.text-warning
          | &Dstrok;&Aacute;NG TIN C&#x1EAC;Y V&Agrave; H&#x1EE2;P L&Yacute;
        .row.my-3.p-2.border.border-warning
          | V&#x1EDB;i kinh nghi&#x1EC7;m l&agrave;m vi&#x1EC7;c &#x1EDF; n&#x1B0;&#x1EDB;c ngo&agrave;i, ch&uacute;ng t&ocirc;i hi&#x1EC3;u r&#x1EB1;ng
          | n&#x1EBF;u ch&uacute;ng t&ocirc;i kh&ocirc;ng th&#x1EF1;c hi&#x1EC7;n &dstrok;&uacute;ng t&#x1EEB;ng h&#x1EA1;ng m&#x1EE5;c c&ocirc;ng vi&#x1EC7;c,
          | ch&uacute;ng t&ocirc;i s&#x1EBD; kh&ocirc;ng c&oacute; c&#x1A1; h&#x1ED9;i s&#x1EED;a ch&#x1EEF;a n&oacute;. V&igrave; v&#x1EAD;y, ch&uacute;ng t&ocirc;i
          | lu&ocirc;n ph&#x1EA3;i l&agrave;m vi&#x1EC7;c v&#x1EDB;i t&iacute;nh h&#x1EE3;p l&yacute; cao nh&#x1EA5;t, ch&iacute;nh x&aacute;c cho
          | t&#x1EEB;ng h&agrave;nh &dstrok;&#x1ED9;ng, v&#x1EAD;t ph&#x1EA9;m, c&ocirc;ng vi&#x1EC7;c, c&ocirc;ng vi&#x1EC7;c.
        .row.fw-bold.text-warning
          | NI&#x1EC0;M &Dstrok;AM M&Ecirc;
        .row.my-3.p-2.border.border-warning
          | Nh&acirc;n vi&ecirc;n c&#x1EE7;a ch&uacute;ng t&ocirc;i &dstrok;&#x1B0;&#x1EE3;c khuy&#x1EBF;n kh&iacute;ch h&agrave;nh &dstrok;&#x1ED9;ng v&#x1EDB;i ni&#x1EC1;m
          | &dstrok;am m&ecirc; cho d&ugrave; &dstrok;&oacute; l&agrave; c&#x1ED1; v&#x1EA5;n cho kh&aacute;ch h&agrave;ng hay d&#x1ECB;ch v&#x1EE5; kh&#x1EA3;o s&aacute;t.
          | L&agrave;m vi&#x1EC7;c ch&abreve;m ch&#x1EC9;, &dstrok;am m&ecirc;, kh&ocirc;ng s&#x1EE3; kh&oacute; kh&abreve;n, s&#x1EE3; &dstrok;au kh&#x1ED5; l&agrave; &yacute;
          | ch&iacute; c&#x1EE7;a m&#x1ED7;i c&aacute; nh&acirc;n v&agrave; c&ocirc;ng ty ch&uacute;ng t&ocirc;i.
        .row.fw-bold.text-warning
          | &Dstrok;&#x1EA0;O &Dstrok;&#x1EE8;C CHUY&Ecirc;N NGHI&#x1EC6;P
        .row.my-3.p-2.border.border-warning
          | &Dstrok;&#x1EA1;o &dstrok;&#x1EE9;c l&agrave;m vi&#x1EC7;c, phong c&aacute;ch c&ocirc;ng nghi&#x1EC7;p l&agrave; n&#x1EC1;n t&#x1EA3;ng kinh doanh
          | c&#x1EE7;a SEALINK POS. C&aacute;c ho&#x1EA1;t &dstrok;&#x1ED9;ng kinh doanh c&#x1EE7;a SEALINKPOS v&agrave; &dstrok;&#x1B0;&#x1EE3;c
          | &dstrok;&#x1EA3;m b&#x1EA3;o c&ocirc;ng b&#x1EB1;ng, minh b&#x1EA1;ch v&agrave; t&ocirc;n tr&#x1ECD;ng l&#x1EAB;n nhau.
        .row.fw-bold.text-warning
          | &Dstrok;&#x1ED4;I M&#x1EDA;I V&Agrave; S&Aacute;NG T&#x1EA0;O
        .row.my-3.p-2.border.border-warning
          | L&agrave;m vi&#x1EC7;c th&ocirc;ng minh l&agrave; m&#x1EE5;c ti&ecirc;u c&#x1EE7;a th&agrave;nh c&ocirc;ng l&acirc;u d&agrave;i l&agrave; m&#x1ED9;t
          | &dstrok;&#x1ED9;ng l&#x1EF1;c th&uacute;c &dstrok;&#x1EA9;y SEALINK POS h&#x1B0;&#x1EDB;ng t&#x1EDB;i nh&#x1EEF;ng vi&#x1EC5;n c&#x1EA3;nh trong
          | t&#x1B0;&#x1A1;ng lai, ph&acirc;n t&iacute;ch &dstrok;&#x1ED5;i m&#x1EDB;i, &#x1EE9;ng d&#x1EE5;ng khoa h&#x1ECD;c v&agrave; c&ocirc;ng ngh&#x1EC7;
          | hi&#x1EC7;n &dstrok;&#x1EA1;i, t&#x1B0; v&#x1EA5;n c&aacute;c gi&#x1EA3;i ph&aacute;p kh&#x1EA3;o s&aacute;t ti&ecirc;n ti&#x1EBF;n nh&#x1EA5;t cho c&aacute;c d&#x1EF1; &aacute;n m&agrave; SEALINK ph&#x1EE5; tr&aacute;ch
section
  .commitment
    .container
      .row.justify-content-center.m-3
        .col-9.col-md-3.bg-warning.p-3.p-sm-2.rounded-2.fw-bold.text-center
          | Chi&#x1EBF;n l&#x1B0;&#x1EE3;c v&agrave; gi&aacute; tr&#x1ECB;
      .row.justify-content-center.pt-2.mx-1
        .col-12.col-md-6.col-lg-9
          .row.my-3.border.border-warning.p-2
            | Tu&acirc;n th&#x1EE7; nghi&ecirc;m ng&#x1EB7;t lu&#x1EAD;t ph&aacute;p, h&#x1EC7; th&#x1ED1;ng ti&ecirc;u chu&#x1EA9;n,
            | quy tr&igrave;nh, chu&#x1EA9;n m&#x1EF1;c v&agrave; ti&ecirc;u chu&#x1EA9;n &dstrok;&#x1EA1;o &dstrok;&#x1EE9;c.
          .row.my-3.border.border-warning.p-2
            | Duy tr&igrave; v&abreve;n h&oacute;a doanh nghi&#x1EC7;p s&#x1EA1;ch s&#x1EBD;
          .row.my-3.border.border-warning.p-2
            | T&ocirc;n tr&#x1ECD;ng, l&#x1EAF;ng nghe v&agrave; t&#x1B0; v&#x1EA5;n v&#x1EC1; c&aacute;c gi&#x1EA3;i ph&aacute;p k&#x1EF9; thu&#x1EAD;t,
            | c&aacute;c s&#x1EA3;n ph&#x1EA9;m v&agrave; d&#x1ECB;ch v&#x1EE5; KH&#x1EA2;O S&Aacute;T T&#x1ED0;T NH&#x1EA4;T, t&#x1ED1;t nh&#x1EA5;t cho kh&aacute;ch h&agrave;ng
          .row.my-3.border.border-warning.p-2
            | H&#x1EE3;p t&aacute;c theo nguy&ecirc;n t&#x1EAF;c c&#x1EDF;i m&#x1EDF;, c&ocirc;ng b&#x1EB1;ng v&agrave; c&ugrave;ng c&oacute; l&#x1EE3;i
          .row.my-3.border.border-warning.p-2
            | H&atilde;y l&agrave; m&#x1ED9;t doanh nghi&#x1EC7;p c&oacute; tr&aacute;ch nhi&#x1EC7;m v&#x1EDB;i b&#x1EA3;n th&acirc;n, &dstrok;&#x1ED3;ng nghi&#x1EC7;p, x&atilde; h&#x1ED9;i v&agrave; c&#x1ED9;ng &dstrok;&#x1ED3;ng c&#x1EE7;a b&#x1EA1;n
        .d-none.d-md-block.pt-3.col-md-6.col-lg-3
          img.w-100(src='./img/nha.jpg')
footer.mt-3
  .container-fluid
    .row.pt-5.pb-2.px-2.bg-footer__top.border-bottom
      .col-6.col-sm-3
        img.w-100(src='./img/logo.png', style='max-width: 150px;')
      .col-6.col-sm-3
        .row.justify-content-end.text-light
          h4 Li&ecirc;n h&#x1EC7;
        .row.justify-content-end
          ul
            li.text-light &Dstrok;&#x1ECB;a ch&#x1EC9;
            li.text-light Sdt
            li.text-light Mail
            li.text-light Link
            li.text-light
      .col-6.col-sm-3
        .row.text-light
          h4 Li&ecirc;n k&#x1EBF;t
        .row
          ul
            li
              a.text-decoration-none.text-light(href='') Trang ch&#x1EE7;
            li
              a.text-decoration-none.text-light(href='') Thi&#x1EBF;t b&#x1ECB;
            li
              a.text-decoration-none.text-light(href='') D&#x1ECB;ch v&#x1EE5;
            li
              a.text-decoration-none.text-light(href='') Tin t&#x1EE9;c
            li
              a.text-decoration-none.text-light(href='') Gi&#x1EDB;i thi&#x1EC7;u
      .col-6.col-sm-3
        .row.text-light
          h4 Theo d&otilde;i
        .row
          .col-4
            a.border(href='')
              i.ti-facebook.p-2.text-decoration-none.text-light
          .col-4
            a.border(href='')
              i.ti-facebook.p-2.text-decoration-none.text-light
    .row.bg-footer__bottom.px-2.py-3.justify-content-center.text-light © copyright 2019 by HongTQ
script(src='./bootstrap.bundle.min.js')
