extends ../layouts/common.pug
block content
 .container
  table.table.table-bordered.border-primary.table-hover.mt-4
    thead(style='text-align: center;')
      tr
        th Name
        th Phone
        th Mail
    tbody#tbody(style='text-align: center;')
      tr
        th=user.name
        th=user.phone
        th=user.mail