extends ../layouts/common.pug
block content
    .container
        .row
          .col-6.col-sm-3
            .card
              | .
              .card
                img.card-img-top(src='', alt='')
                .card-body
                  h5.card-title Title
                  p.card-text Content