extends ../layouts/common.pug
block content
    .container
        table.table.table-light.table-hover.table-bordered.border-primary
          thead(style='text-align: center;')
            tr
              th #
              th Name
              th Phone
          tbody(style='text-align: center;')
            tr
              td 1
              td Th&#x1ECD;
              td 0327910404