h1 Create new user 
form(action="/users/create", method="post")
    label Name: 
    input(type="text" name="name" placeholder="name")
    span &emsp;
    input(type="text" name="age" placeholder="age")
    span &emsp;
    input(type="submit")  