h1 All users 
a(href="/users/create") Create new user 
br
br
form(action="/users/search", method="get")
    label Find by name: 
    input(type='text' name="q")
    input(type="submit")
ol 
  each user in users 
    li=`${user.name} : ${user.age} years old`
      span &emsp;
      a(href="/users/"+user.id) View info         