doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/main.css')
.navbar.navbar-light.bg-light.navbar-expand-sm.mb-4
  .container-fluid
    .navbar-brand
      a(href='/')
        img(src='/img/logo.png', style='width:200px', alt='logo')
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarCollapse', aria-expanded='false')
      span.navbar-toggler-icon
    #navbarCollapse.navbar-collapse.collapse.d-sm-flex.justify-content-sm-between
      ul.navbar-nav
        li.nav-item.hover
          a.nav-link(href='/') Home
        li.nav-item.hover
          a.nav-link(href='/user') User
        li.nav-item.hover
          a.nav-link(href='/products') Product
      ul.navbar-nav
        li#login.nav-item.hover
          a.nav-link(href='/login') Login
        li#signin.nav-item.hover
          a.nav-link(href='/register') Register
        li#logout.nav-item
          .dropdown
            button#dropdownMenuButton1.btn.btn-secondary.dropdown-toggler(data-bs-toggle='dropdown', aria-expanded='false')
              | User
            .dropdown-menu
              a.dropdown-item.nav-link(href='/user/logout')
                | Logout
script(src='/js/bootstrap.bundle.min.js')
block content