extends ../layouts/common.pug
block content
   .d-flex.flex-column.align-items-center
    .row.mt-4(style='width:700px')
      .col.border Name
      .col.border Phone number
      .col.border Email
      .col.border Age
    .row(style='width:700px')
      .col.border #{user.name}
      .col.border #{user.phone}
      .col.border #{user.mail}
      .col.border #{user.age}  