h1 Create a new user
form(action="/users/create", method="post")
   input(type="text", name="name", placeholder="Name")
   span &emsp;
   input(type="text", name="phone", placeholder="Phone number")
   span &emsp;
   input(type="submit") 