h1 All users: 
a(href="/users/create") Create new user
p
form(action="/users/search", method="get")
    input(type="text", name="q", placeholder="Find by name")
    span &emsp;
    input(type="submit")
ul 
  each user in users 
    li=user.name 
      span &emsp;
      a(href="/users/"+user.id) View    