doctype html
head
  meta(charset='UTF-8')
  title Lesson 17
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css')
.navbar.navbar-light.bg-light.mb-4(style='align-items: unset;')
  .navbar-item
    img(src='/img/logo.png', style='width:200px')
    a.text-decoration-none.fs-5.ms-4(href='/') Home
    a.text-decoration-none.fs-5.ms-4(href='/user') User
    a.text-decoration-none.fs-5.ms-4(href='/product') Product
  .navbar-item
    a.text-decoration-none.fs-5.me-3(href='/login') Login
    a.text-decoration-none.fs-5.me-3(href='/signin') Signin
    a.text-decoration-none.fs-5.me-3(href='/logout') Logout
block content    