doctype html
head
  meta(charset='UTF-8')
  title Leson 11+12
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css')
.navbar.navbar-light.bg-light
  .nav-item.ms-2
    img(src='/img/logo.png', style='width: 140px')
    a.text-decoration-none.m-4(href='/')
      | Home
    a.text-decoration-none.m-4(href='/users')
      | Users
    a.text-decoration-none.m-4(href='/contact')
      | Contact
block content      