doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/bootstrap.min.css')
  link(rel='stylesheet', href='/main.css')
nav.navbar.navbar-expand-md.navbar-light.bg-light
  .container-fluid
    a.navbar-brand(href='#') Admin
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbar', aria-expanded='false')
      span.navbar-toggler-icon
    #navbar.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link(href='/') Trang ch&#x1EE7;
        li.nav-item
          a.nav-link(href='#') Thi&#x1EBF;t b&#x1ECB;
        li.nav-item
          a.nav-link(href='/admin/service/') D&#x1ECB;ch v&#x1EE5;
        li.nav-item
          a.nav-link(href='/admin/news/') Tin t&#x1EE9;c
script(src='/bootstrap.bundle.min.js')
block content