extends ../layouts/common.pug
block content
 .container.mt-4
  table.table.table-hover.table-bordered.border-primary.mt-4
          thead(style='text-align: center;')
            tr
              th Name
              th phone
              th password
          tbody(style='text-align: center;')
            tr 
              th=user.name 
              th=user.phone
              th=user.password