extends ../layouts/common.pug
block content
    section.service.mt-3(style='min-height: 400px;')
      .bg-info.py-4.ps-2
        .container
          .row.fs-3.fw-bold.text-light
            | Liên hệ
      .container
        .row.mt-4.my-2
          .col-sm-6.bg-black-50.mb-4
            .fs-3.fw-bold.text-center
              | SEALINK., JSC
            .fs-5.text-warning.text-center
              | SEALINK., JSC
            p
              i.ti-location-pin.pe-2
              a.text-decoration-none.text-dark(href='https://www.google.com/maps/dir/10.3913235,107.1217955/Ph%C6%B0%E1%BB%9Dng+10,+R%E1%BA%A1ch+D%E1%BB%ABa,+Tp.+V%C5%A9ng+T%C3%A0u,+B%C3%A0+R%E1%BB%8Ba+-+V%C5%A9ng+T%C3%A0u,+Vi%E1%BB%87t+Nam/@10.3913809,107.1215976,21z/am=t/data=!4m8!4m7!1m0!1m5!1m1!1s0x317571dca75c3d23:0xb0544d2db4ac69ad!2m2!1d107.1120319!2d10.3920828?hl=vi&shorturl=1')
                |  Số 02, Lô L5, đường Phạm Văn Đồng, phường 10, thành phố Vũng Tàu, tỉnh Bà Rịa Vũng Tàu, Việt Nam.
            p
              i.ti-mobile.pe-2
              a.text-decoration-none.text-dark(href='tel:+84 2543 595919')
                | +84 2543 595919
            p
              i.ti-email.pe-2
              a.text-decoration-none.text-dark(href='mailto:sealink@sealinkpos.com.vn')
                | sealink@sealinkpos.com.vn
            p
              i.ti-credit-card.pe-2
              | 0081001231919 Vietcombank, chi nhánh Vũng Tàu   
          .col-sm-6
            .company-info-googlemap.w-100.h-100(style='min-height: 300px;')
              iframe(src='https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d245.27373597607553!2d107.12159756465867!3d10.39138092347544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d10.3913235!2d107.12179549999999!4m5!1s0x317571dca75c3d23%3A0xb0544d2db4ac69ad!2zUGjGsOG7nW5nIDEwLCBS4bqhY2ggROG7q2EsIFRwLiBWxaluZyBUw6B1LCBCw6AgUuG7i2EgLSBWxaluZyBUw6B1LCBWaeG7h3QgTmFt!3m2!1d10.392082799999999!2d107.11203189999999!5e0!3m2!1svi!2sus!4v1597371333858!5m2!1svi!2sus', width='100%', height='100%', frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0')
