extends ../layouts/common.pug
block content
    section.service.mt-3(style='min-height: 400px;')
      .bg-info.py-4.ps-2.mb-3
        .container
          .row.fs-3.fw-bold.text-light
            | Giới thiệu
      .container
        .row.mb-4
          .col-md-6.col-lg-8
            .fs-4
              | I. Đăng ký kinh doanh
            p.mt-2.mb-1
              | Thay mặt Công ty Cổ phần Định vị Sealink, chúng tôi xin gửi lời khen tốt 
              | nhất đến công ty của bạn và chúc bạn sức khỏe, hạnh phúc và thành công.
            p.mt-2.mb-1
              | Chúng tôi, vì cơ hội này, vui lòng thông báo cho bạn về công ty của chúng tôi. 
              | Công ty Cổ phần Định vị Sealink được thành lập theo đăng ký kinh doanh số 3502365835 
              | do Sở Kế hoạch và Đầu tư tỉnh Bà Rịa - Vũng Tàu phát hành vào tháng 6 năm 2018.
            p.mt-2.mb-1
              | Mặc dù công ty chúng tôi mới thành lập, hầu hết nhân viên của chúng tôi là chuyên gia 
              |và họ có nhiều kinh nghiệm về khảo sát, lập bản đồ và địa chất nói chung và đặc biệt 
              |là khảo sát và định vị ngoài khơi, gần bờ và trên đất liền. Thế mạnh của chúng tôi 
              |là công nghệ mới, kiến ​​thức, kinh nghiệm, đội ngũ nhân viên có trình độ, thiết bị 
              |hoàn toàn tự tin, chúng tôi muốn trình bày chúng như là đại diện cho các giá trị 
              |của chúng tôi, chúng tôi sẽ mang đến cho công ty của bạn.
            p.mt-2.mb-1
              | Với sức mạnh của việc nghiên cứu và áp dụng các công nghệ mới, chúng tôi luôn đi 
              |tiên phong trong việc nghiên cứu và áp dụng công nghệ mới trong các lĩnh vực khảo 
              |sát. Chúng tôi có thể đối mặt với các yêu cầu khó khăn nhất trong các hoạt động khảo 
              |sát bằng cách áp dụng công nghệ mới, thiết bị và kiến ​​thức của chúng tôi.
            p.mt-2.mb-1
              | Theo đuổi mục đích cung cấp các dịch vụ khảo sát, lập bản đồ và địa chất tốt nhất, 
              |xây dựng mối quan hệ tốt giữa khách hàng-nhân viên-công ty, thiết lập môi trường làm 
              |việc năng động và sáng tạo, SEALINK đã định vị hình ảnh của chúng tôi và kết nối nhân 
              |viên của công ty. Chúng tôi, quản lý và nhân viên, đã cố gắng hết sức để đổi mới, áp 
              |dụng các công nghệ tiên tiến trên thế giới, tăng cường khả năng cạnh tranh và cải thiện 
              |chất lượng dịch vụ. Mục tiêu của chúng tôi là trở thành nhà thầu khảo sát hàng đầu ở nước 
              |ngoài và trên các lĩnh vực khảo sát đất đai tại Việt Nam. Thông qua hoạt động của chúng tôi,  
              span.fw-bold chúng tôi cam kết Luôn cùng nhau Địa kỹ thuật của Việt Nam tiến lên.
          .col-md-6.col-lg-4
            img(src='./img/business-registry.png', alt='')
        .row
          .col-sm-6
            .fs-4
              | II. Thông tin công ty
            .company-info-content
              h6 2.1 Tên công ty và ngày thành lập
              p
                strong Tên giao dịch:
                | Công ty Cổ phần Định vị Sealink
                br
                strong Tên viết tắt: 
                | SEALINK., JSC
                br
                strong Ngày thành lập: 
                | 21/06/2018
              h6 2.2 Văn phòng
              p
                strong Địa chỉ văn phòng:
                | Số 02, Lô L5, đường Phạm Văn Đồng, phường 10, thành phố Vũng Tàu, tỉnh Bà Rịa Vũng Tàu, Việt Nam.
                br
                strong Tel/Fax
                | : +84 2543 595919
                br
                strong Email
                | : sealink@sealinkpos.com.vn
              h6 2.3 Số tài khoản
              p
                strong Tài khoản ngân hàng:
                | 0081001231919 Vietcombank, chi nhánh Vũng Tàu
                br
                strong Mã số thuế:
                |  3502365835
              h6 2.4 Lãnh đạo công ty
              p
                strong Giám đốc: 
                | Đặng Văn Nhã
                br
                strong Di động: 
                | +84986177968
              p
                strong Phó giám đốc:
                | Nguyễn Quốc Hào
                br
                strong Di động
                | :
              h6 2.5 Tổng số nhân viên: 29 nhân viên
              p
                strong Trình độ đại học: 
                | 21 nhân viên
                br
                strong Kỹ thuật viên: 
                | 05 nhân viên
                br
                strong Nhân viên văn phòng và kế toán: 
                | 03 nhân viên
          .col-sm-6
            .company-info-googlemap.h-100(style='min-height: 400px;')
              iframe(src='https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d245.27373597607553!2d107.12159756465867!3d10.39138092347544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d10.3913235!2d107.12179549999999!4m5!1s0x317571dca75c3d23%3A0xb0544d2db4ac69ad!2zUGjGsOG7nW5nIDEwLCBS4bqhY2ggROG7q2EsIFRwLiBWxaluZyBUw6B1LCBCw6AgUuG7i2EgLSBWxaluZyBUw6B1LCBWaeG7h3QgTmFt!3m2!1d10.392082799999999!2d107.11203189999999!5e0!3m2!1svi!2sus!4v1597371333858!5m2!1svi!2sus', width='100%', height='100%', frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0')
